@charset "UTF-8";

@media screen and (max-width: 768px) {
    span#burger{
        position: sticky;
        top:0;
        background-color: var(--cor3); 
        box-shadow: 0 5px 15px 0 rgb(50 50 50 / 50%);
        font-size: 90%;
    }

    nav > ul > li{
        border: 1px solid #414141;
    }

    .social-media-container > img{
        display:none;
    }
    #time{
        display: block;
        text-align: center;
        padding-bottom: 5px;
    
    }
    #date{
        display: block;
        text-align: center;
        font-size: 90%;
    }

    main > section > h1{
        font-size: 2em;
        text-align: center;
    }

    main > section > article > h2{
        text-align: left;
    }
}

@media screen and (min-width: 768px) {
    span#burger{
        display: none;
    }
    nav.navbar{
        display: block; 
    }

    nav > ul{
        text-align: center;
    }

    nav > ul > li{
        display: inline-block;
        
        border-right: 1px solid #414141;
    }

    li.last{
        border-right:none ;
    }
}

