@charset "UTF-8";

@media screen and (max-width: 768px) {
    nav > ul > li{
        border: 1px solid #414141;
    }

    .social-media-container > img{
        display:none;
    }
    #time{
        display: block;
        text-align: center;
        padding-bottom: 5px;
        font-size: 1em;
    }
    #date{
        display: block;
        text-align: center;
    }

    main > section > h1{
        text-align: center;
    }

    main > section > article > h2{
        text-align: left;
    }
}

@media screen and (min-width: 768px) {
    span#burger{
        display: none;
    }
    nav.navbar{
        display: block; 
    }

    nav > ul{
        text-align: center;
    }

    nav > ul > li{
        display: inline-block;
        
        border-right: 1px solid #414141;
    }

    li.last{
        border-right:none ;
    }
}

