@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

/*

menu topo - background-color: #272727
menu links fundo color: #333
letra menu color: #999
menu link hight: 41px 

*/

*{ box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

*:root {
    --cor1: #471212;
    --cor2: #181818;
    --cor3: #272727;
    --cor4: #ED4746;
    --cor5: #C0392B;
    --cor6: #999999;

    --font01: 'Open Sans', sans-serif;
    --font02: Arial, Verdana, Helvetica, sans-serif;
}

body{
    background-color:lightgray;
    min-height: 100vh;
}

header{
    background-color: var(--cor3); 
    box-shadow: 0 5px 15px 0 rgb(50 50 50 / 50%);
}

.logo{
    height: 80px;
    width: 80px;
    margin: 10px 20px;
    padding: 8px;
}

.navbar > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #414141;
    list-style-type: none;
    font-family: var(--font01);
}

.navbar > ul > li {
   
    border-right: 1px solid #414141;
}

.navbar > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--cor6);
    text-align: center;
    font-weight: bold;
}

.navbar > ul > li > a:hover{
    background-color: white;
    color:var(--cor5);
    transition: 0.5s;
    
}



.conteudo{
    background-color: white;
    font-family: var(--font01);
    border-radius: 8px;
    text-align: justify;
    padding: 10px 20px;
}

main{
    display: block;
    max-width: 85vw;
    margin: 15px auto;
}

main > section > h1{
    margin: 5px;
    padding: 5px 5px;
    font-size: 2.5rem;
}

article > h2{
    margin: 5px;
    padding: 5px;
}

article p {
    margin: 5px;
    padding: 5px;
    text-indent: 20px;
    line-height: 1.3em;
}

article > ol{
    list-style-position: inside;
    margin: 5px;
    padding: 5px;
}

article > img{
    width: 100%;
}

footer{
    background-color: var(--cor3);

}