@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

/*

menu topo - background-color: #272727
menu links fundo color: #333
letra menu color: #999
menu link hight: 41px 

*/

*{ box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

*:root {
    --cor1: #471212;
    --cor2: #181818;
    --cor3: #272727;
    --cor4: #ED4746;
    --cor5: #C0392B;
    --cor6: #999999;

    --font01: 'Open Sans', sans-serif;
    --font02: Arial, Verdana, Helvetica, sans-serif;
}

body{
    background-color:lightgray;
    min-height: 100vh;
    
}

#burger{
    border-top: 2px solid #414141;
    color: var(--cor6);
    display: block;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

#burger:hover{
    background-color: white;
    color:var(--cor5);
    transition: 0.5s;
}

header{
    background-color: var(--cor3);
}

.logo{
    height: 90px;
    width: 90px;
    margin: 3px 15px;
}

.top, .h1top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px;
    font-size: 90%;
    max-width: 1100px;
    margin: 0px auto;
}

header > section > h1 {
    font-size: 2em;
    color: white;
    font-family: var(--font01);
}

.header-sidebar{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    
    
}

.social-media-container > img{
    display:inline-block;
    height: 22px;
    width: 22px;
    filter: invert(61%) sepia(3%) saturate(8%) hue-rotate(30deg) brightness(99%) contrast(87%);
    margin: 0px 5px;

}

.social-media-container > img:hover{
    filter: invert(100%) sepia(5%) saturate(2%) hue-rotate(24deg) brightness(105%) contrast(100%);
}

.datetime{
    font-family: var(--font02);
    color: var(--cor6);
    text-transform: uppercase;
    
}

.navbar{
    display: none;
    position: sticky;
    top: 0;
    background-color: var(--cor3); 
    box-shadow: 0 5px 15px 0 rgb(50 50 50 / 50%);
    font-size: 90%;
    
}

.navbar > ul{
    border-top: 1px solid #414141;
    list-style-type: none;
    font-family: var(--font01);
    text-transform: uppercase;
}

.navbar > ul > li > a{
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    color: var(--cor6);
    text-align: center;
    font-weight: bold;
    
}

.navbar > ul > li > a:hover{
    background-color: white;
    color:var(--cor5);
    transition: 0.5s;
    
}

main > section.sidebar {
    position: sticky;
    top: 60px;
    width: 100%;
    max-width: 25%;
    margin-right: 2%;
    border-radius: 8px;
    padding: 40px 30px;
    margin-bottom: 25px;
    height: 405px;
    background-color: rgb(240, 240, 240);
    }
    
    .sidebar div {
    font-family: var(--font01);
    color: #636363;
    font-size: 14px;
    padding: 10px 0px;
    border-top: #666 1px solid;
    }

    .sidebar h3{
        color: black;
        font-family: var(--font01);
        margin-bottom: 25px;
    }

    /* not working??? */
    .sidebar > div > a{
        text-decoration: none;
        cursor: pointer;
        color: #636363;
    }
    

.conteudo{
    display: inline-block;
    width: 100%;
    max-width: 68%;
    background-color: white;
    font-family: var(--font01);
    border-radius: 8px;
    text-align: justify;
    padding: 10px 20px;
    box-shadow: 0 5px 15px 0 rgba(50, 50, 50, 0.336);;
}

main{
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 1200px;
    margin: 15px auto;
    padding-left: 30px;
    padding-right: 30px;
}

main > section > h1{
    margin: 10px;
    padding: 5px 5px;
    font-size: 2.5rem;
}

article > h2{
    margin: 5px;
    padding: 5px;
}

article p {
    margin: 10px;
    padding: 5px;
    text-indent: 20px;
    line-height: 150%;
}

article > ol{
    list-style-position: inside;
    margin: 5px;
    padding: 5px;
}

article > img{
    display: block;
    width: 80%;
    margin: 10px auto;
    
}
.carlos, .maeda{
    max-width: 400px;
}

.video {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

footer{
    display: block;
    color: white;
    background-color: var(--cor3);
    margin-top: 50px;
    padding: 50px 20px;

}